/* SCSS HEX */
$white: #fefffeff;
$pink-lavender: #dcb5e4ff;
$fuchsia-crayola: #b96ac9ff;
$new-york-pink: #c58373ff;
$goldenrod: #d19c1dff;
$goldenrod-2: #d5a532ff;

/* SCSS HSL */
$white: hsla(120, 100%, 100%, 1);
$pink-lavender: hsla(290, 47%, 80%, 1);
$fuchsia-crayola: hsla(290, 47%, 60%, 1);
$new-york-pink: hsla(12, 41%, 61%, 1);
$goldenrod: hsla(42, 76%, 47%, 1);
$goldenrod-2: hsla(42, 66%, 52%, 1);

/* SCSS RGB */
$white: rgba(254, 255, 254, 1);
$pink-lavender: rgba(220, 181, 228, 1);
$fuchsia-crayola: rgba(185, 106, 201, 1);
$new-york-pink: rgba(197, 131, 115, 1);
$goldenrod: rgba(209, 156, 29, 1);
$goldenrod-2: rgba(213, 165, 50, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);
$gradient-right: linear-gradient(90deg, #fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);
$gradient-bottom: linear-gradient(180deg, #fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);
$gradient-left: linear-gradient(270deg, #fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);
$gradient-top-right: linear-gradient(45deg, #fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);
$gradient-bottom-right: linear-gradient(135deg, #fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);
$gradient-top-left: linear-gradient(225deg, #fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);
$gradient-bottom-left: linear-gradient(315deg, #fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);
$gradient-radial: radial-gradient(#fefffeff, #dcb5e4ff, #b96ac9ff, #c58373ff, #d19c1dff, #d5a532ff);